// now you can write your css here!

@import url(http://fonts.googleapis.com/css?family=Arvo);

h1 {
	font-size:22px;
}
body {
	font-family: 'Arvo', 'Verdana';
	font-size:13px;
	background: url('http://www.lorempixel.com/1280/720') center center no-repeat transparent;
	background-size:100% 100%;
}

article.enterin-slide img{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	transform: translateZ(500)!important;
}